.sidebar {
    background-color: var(--grey);
    /* position: fixed; */
    top: 1;
    left: 1;
    height: 95%;
    width: 400px;
    padding: 30px 30px;
    transition: var(--tran-05);
    z-index: 100;
    border-radius: 50px;
  }
  
  .sidebar.close {
    width: 88px;
    padding: 30px 0px;
  }
  
  .sidebar li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .sidebar li.search-box {
    border-radius: 20px;
    cursor: pointer;
    transition: var(--tran-05);
    background-color: var(--grey2);
    height: 35px;
    margin-left: 13px;
  }
  
  .sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--grey2);
    color: var(--text-color);
    border-radius: 20px;
    font-size: 13px;
    transition: var(--tran-05);
  }
  
  .sidebar header .image,
  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
  }
  
  .sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .sidebar .text,
  .sidebar .icon {
    color: black;
    transition: var(--tran-03);
  }
  
  .sidebar .text {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
  }
  .sidebar.close .text {
    opacity: 0;
  }
  
  .sidebar.close h2 {
    display: none;
  }
  
  .sidebar.close .search-box {
    background-color: transparent;
  }
  
  .sidebar.close .search-box input {
    display: none;
  }
  
  .sidebar header {
    position: relative;
  }
  
  .sidebar header .image-text {
    display: flex;
    align-items: center;
  }
  .sidebar header .logo-text {
    display: flex;
    flex-direction: column;
  }
  header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
  }
  
  header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
  }
  
  .sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar header .image img {
    width: 40px;
    border-radius: 6px;
  }
  
  .sidebar header .ri-menu-line {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
  }
  
  .sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
  }
  
  .sidebar .menu {
    margin-top: 5px;
  }
  
  .menu-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  
  .menu-links h2 {
    font-size: 18px;
    align-items: center;
    margin-bottom: 0px;
  }
  
  .image h2 {
    font-size: 25px;
    font-weight: bolder;
  }
  
  a.bag {
    background-color: var(--grey2);
    border-radius: 50px;
    height: 30px;
    border-radius: 50px;
  }
  
  .sidebar li a {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
  }
  
  .sidebar li a:hover {
    background-color: var(--primary-color);
  }
  .sidebar li a:hover .icon,
  .sidebar li a:hover .text {
    color: var(--sidebar-color);
  }
  
  .sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 5% 0px;
  }
  
  .menu-bar::-webkit-scrollbar {
    display: none;
  }
  
  
  .close {
  
      opacity: 1;
  
  }
  
  .close .bottom-content{
      padding: 10px
  }