<div class="user-landing">

    <h2 style="font-size: 30px; font-weight: 800;">Upcoming</h2>

<div class="today-Box">
        <h3>Today</h3>

        <ul class="list">
            <li class="nav-link add">
                <a>
                  <i class="ri-add-circle-line icon"></i>
                  <span class="text nav-text">Add New List</span>
                </a>
              </li>
            <li class="nav-link" style="margin-top: 10px;">
                <a>
                    <input type="checkbox">
                    <span class="text nav-text">Swimming </span>
                </a>
                <hr>

              </li>
            <li class="nav-link">
                <a>
                    <input type="checkbox">
                    <span class="text nav-text">Dance</span>
                </a>
                <hr>

              </li>
            <li class="nav-link">
                <a>
                  <input type="checkbox">
                  <span class="text nav-text">Study</span>
                </a>
                <hr>

              </li>

              
        </ul>
    </div>

    <div class="bottom">




        <div class="today-Box-upcoming">
            <h3>Tomorrow</h3>
    
            <ul class="list">
                <li class="nav-link add">
                    <a>
                      <i class="ri-add-circle-line icon"></i>
                      <span class="text nav-text">Add New List</span>
                    </a>
                  </li>
                <li class="nav-link" style="margin-top: 10px;">
                    <a>
                        <input type="checkbox">
                        <span class="text nav-text">Swimming </span>
                    </a>
                    <hr>
    
                  </li>
                <li class="nav-link">
                    <a>
                        <input type="checkbox">
                        <span class="text nav-text">Dance</span>
                    </a>
                    <hr>
    
                  </li>
                <li class="nav-link">
                    <a>
                      <input type="checkbox">
                      <span class="text nav-text">Study</span>
                    </a>
                    <hr>
    
                  </li>
    
                  
            </ul>
        </div>

        <div class="today-Box-upcoming">
            <h3>This Week </h3>
    
            <ul class="list">
                <li class="nav-link add">
                    <a>
                      <i class="ri-add-circle-line icon"></i>
                      <span class="text nav-text">Add New List</span>
                    </a>
                  </li>
                <li class="nav-link" style="margin-top: 10px;">
                    <a>
                        <input type="checkbox">
                        <span class="text nav-text">Swimming </span>
                    </a>
                    <hr>
    
                  </li>
                <li class="nav-link">
                    <a>
                        <input type="checkbox">
                        <span class="text nav-text">Dance</span>
                    </a>
                    <hr>
    
                  </li>
                <li class="nav-link">
                    <a>
                      <input type="checkbox">
                      <span class="text nav-text">Study</span>
                    </a>
                    <hr>
    
                  </li>
    
                  
            </ul>
        </div>
    </div>


</div>

