.user-landing{
    height: 1005;
    min-height: 80vh;
    max-width: 100%;
    width: 100%;
    background-color:var(--grey);
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}

.to-do{
    height: 40%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.btn-primary{
    width: 40%;
    border-radius: 10px;
    background-color: #76DE37;
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: black;
}

.btn-primary:hover{
    scale: 1.02;
    background-color: #59ad24;
  }
