<div class="user-landing">

    <div class="to-do">


    <h2>To Do Py</h2>
              
              
    <p class="">A to-do app is a simple, user-friendly digital tool designed to help individuals and 
      teams organize tasks and manage their daily activities efficiently. Users can create, edit, and prioritize tasks,
       set deadlines or reminders, categorize items, and track their progress, all within an intuitive and accessible interface.
        These apps are essential for improving productivity, reducing stress, and ensuring that important responsibilities are not forgotten.</p>

        <button class="btn btn-primary">Get Started</button>

      </div>
    
  </div>