
<div class="main w3-cursive">

    <div class="container">

        <div class="left-image">
            <img src="../../assets/images/to-do.png" height="100%" width="100%">
        </div>

        <div class="right-section w3-cursive">

            <div class="Form" *ngIf="true">

                <h3>Sign In</h3>


                <form>


                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="mail.example@gmail.com" name="email">
                      <small id="emailHelp" class="text-danger">*Email Required</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password " name="password">
                        <small id="emailHelp" class="text-danger">*Password Required</small>
                      </div>

                      <button type="submit" class="btn btn-primary">Login </button>

                </form>

                <div class="haveAccount">

                    <a routerLink="/sign-up" class="sim-pointer"> Don't Have an Account ? Sign Up</a>

                </div>



                </div>



                <div class="Form" *ngIf="false">

                    <h3>Sign Up</h3>
    
    
                    <form>
    
    
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="mail.example@gmail.com" name="email">
                          <small id="emailHelp" class="text-danger">*Email Required</small>
                        </div>
    
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="mail.example@gmail.com" name="email">
                          <small id="emailHelp" class="text-danger">*Email Required</small>
                        </div>
    
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="mail.example@gmail.com" name="email">
                          <small id="emailHelp" class="text-danger">*Email Required</small>
                        </div>
    
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="mail.example@gmail.com" name="email">
                          <small id="emailHelp" class="text-danger">*Email Required</small>
                        </div>
    
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password " name="password">
                            <small id="emailHelp" class="text-danger">*Password Required</small>
                          </div>
    
                          <button type="submit" class="btn btn-primary">Login </button>
    
                    </form>
    
                    <div class="haveAccount">
    
                        <a routerLink="/sign-up" class="sim-pointer"> Don't Have an Account ? Sign Up</a>
    
                    </div>
    
    
    
                    </div>


    </div>    

        </div>

    </div>
  
