<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>




<div class="user-landing">

    <h2 style="font-size: 30px; font-weight: 800;">Today</h2>

<div class="today-Box">
        <h3>Today</h3>

        <ul class="list">
            <li class="nav-link add">
                <a>
                  <i class="ri-add-circle-line icon"></i>
                  <span class="text nav-text">Add New List</span>
                </a>
              </li>
            <li class="nav-link" style="margin-top: 10px;">
                <a>
                    <input type="checkbox">
                    <span class="text nav-text">Swimming </span>
                </a>
                <hr>

              </li>
            <li class="nav-link">
                <a>
                    <input type="checkbox">
                    <span class="text nav-text">Dance</span>
                </a>
                <hr>

              </li>
            <li class="nav-link">
                <a>
                  <input type="checkbox">
                  <span class="text nav-text">Study</span>
                </a>
                <hr>

              </li>

              
        </ul>
    </div>

</div>

