:root {
  --grey: #f4f4f4;
  --grey2: #ebebeb;
  --primary-color: #6f63f4;
  --sidebar-color: white;

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
